# Node
node_modules/
frontend/node_modules/
frontend/dist/

# Python
__pycache__/
*.pyc
*.pyo
*.db
backend/storage/cfdi/
backend/storage/csd/

# Env
.env
backend/.env

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Temp
tmp_test_venc.py
test_imss.py
tmp_test.py
